body {
  font-family: Verdana, sans-serif;
  color: #333;
  background-color: #c9c;
}

.wrapper {
  width: 800px;
  margin: 10px auto;
}

h1 {
  font-size: 250%;
  color: #66c;
}

.sidebar {
  width: 150px;
  float: left;
}

.photo, .contact, .letter {
  background-color: #eee;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.photo {
  width: 150px;
}
  .photo img {
    margin: 0;
    width: 100%;
  }

.contact {
  width: 150px;
  margin-top: 15px;
}

.letter {
  padding: 15px;
  float: left;
  margin-left: 15px;
}
  .letter p {
    margin-bottom: 10px;
  }

/* Clearfix /////////////////*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

