body {
  font-family: Verdana, sans-serif;
  color: #333;
  background-color: #c9c;
}

.wrapper {
  width: 800px;
  background-color: #eee;
  padding: 15px;
  margin: 10px auto;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

h1 {
  font-size: 250%;
  color: #66c;
}

img {
  float: right;
  margin: 0 0 15px 15px;
}

